<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Bulgar Legacy</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style> body {
        background-image: url('/images/статия.jpg')
    }</style>
</head>
<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Articles</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div
                th:each="article: ${articles.getContent()}"
                th:object="${article}"
                class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="*{imageUrl}" alt="Nav image">
            </div>

            <ul class="article-details list-group list-group-flush">
                <li class="list-group-item">


                    <div class="card-text">
                        <span> <b>Заглавие:</b></span></div>
                    <th:block th:text="*{title}"></th:block>
                    <div class="card-text">
                        <span> <b>Автор:</b> </span></div>
                    <th:block th:text="*{getAuthorUsername()}"></th:block>

                    <div class="card-text">
                        <span><b>Публикувана:</b></span></div>
                    <th:block th:text="*{published}"></th:block>

                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="@{/article/{articleUUID}(articleUUID=*{uuid})}" >Към статията</a>
            </div>
        </div>

    </div>
</div>


<!-- Wrapper Ends -->
</body>
<div th:replace="~{fragments/footer}"></div>
</html>