<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Bulgar Legacy</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style> body {
        background-image: url('/images/glagolicaBook.jpg')
    }</style>

</head>

<body>
<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Добави книга</h2>
    <form th:method="POST"
          th:action="@{/book/add}"
          th:object="${createBookDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <!--        TITLE-->
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold"  for="title">Заглавие:</label>
                <input
                        id="title"
                        th:field="*{title}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Put book title here">
                <p class="invalid-feedback errors alert alert-danger">
                    Book Title is required.
                </p>
            </div>
            <!--PRICE-->

            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Цена:</label>
                <input
                        id="price"
                        th:name="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        class="form-control"
                        placeholder="Suggested price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>

            <!--first name-->
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="authorFirstName" class="text-center text-white font-weight-bold">Име на автор:</label>
                <input
                        id="authorFirstName"
                        th:field="*{authorFirstName}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Author First Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Author last name is required.
                </p>
            </div>

            <!--        Last name-->
            <div class="form-group col-md-6 mb-3">
                <label for="authorLastName" class="text-center text-white font-weight-bold">Фамилия на Автор:</label>
                <input
                        id="authorLastName"
                        th:field="*{authorLastName}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="Author last name price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Author last name is required.
                </p>
            </div>
        </div>

            <!--            GENRE -->
                <div class="form-group col-md-6 mb-3">
                    <label class="text-center text-white font-weight-bold" for="genre">Жанр:</label>
                    <select
                            id="genre"
                            th:field="*{genre}"
                            th:errorclass="is-invalid"
                            class="form-control">
                        <option value="">- Избери жанр -</option>
                        <option th:each="g : ${genres}"
                                th:text="${g}"
                                th:value="${g}">

                        </option>
                    </select>
                    <p class="invalid-feedback errors alert alert-danger">
                        Genre type is required.
                    </p>
                </div>


            <!--        IMAGE URL-->
            <div class="form-group">
                <label class="text-center text-white font-weight-bold" for="imageUrl">Image Url</label>
                <input
                        id="imageURL"
                        th:name="imageUrl"
                        th:field="*{imageUrl}"
                        th:errorclass="is-invalid"
                        type="url"
                        class="form-control"
                        placeholder="Put vehicle image URL here">
                <p class="invalid-feedback errors alert alert-danger">
                    Book image URL is required.
                </p>
            </div>

            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Добави книга"/>
                    </div>
                </div>
            </div>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/footer}" ></footer>
</div>

</body>
</html>
