<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style> body {
        background-image: url('/images/glagolicaBook.jpg')
    }</style>

</head>

<body>
    
	<div>
        <nav th:replace="~{fragments/navbar}"></nav>
	</div>


    <div class="container-fluid">
        <h2 class="text-center text-white mt-5">All Books</h2>
        <div class="offers row mx-auto d-flex flex-row justify-content-center">
            <div
                    th:each="book: ${books.getContent()}"
                    th:object="${book}"
                    class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <div class="card-img-top-wrapper">
                    <img class="card-img-top" th:src="*{imageUrl}" alt="Nav image">
                </div>

                <ul class="offer-details list-group list-group-flush">
                    <li class="list-group-item">

                        <div class="card-text">
                            <span> <b>Title:</b></span></div>
                        <th:block th:text="*{title}"></th:block>
                        <div class="card-text">
                            <span> <b>Author:</b> </span></div>
                        <th:block th:text="*{authorFullName()}"></th:block>
                        <div class="card-text">
                            <span><b>Price:</b></span></div>
                        <th:block th:text="*{price}"></th:block>
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link" th:href="@{/book/{bookUUID}(bookUUID=*{uuid})}">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div>
		<footer> </footer>
	</div>

</body>
</html>
